# AWS Credentials for CDK Deployment
# Thay thế các giá trị dưới đây bằng thông tin tài khoản AWS của bạn
AWS_ACCESS_KEY_ID=YOUR_AWS_ACCESS_KEY_ID
AWS_SECRET_ACCESS_KEY=YOUR_AWS_SECRET_ACCESS_KEY
AWS_DEFAULT_REGION=ap-southeast-1

# Cấu hình GitHub cho việc tự động triển khai Frontend qua AWS Amplify
# Thay thế bằng URL repo của bạn (ví dụ repo đã fork), nhánh cần build và GitHub PAT của bạn
GITHUB_REPO_URL=https://github.com/hoangluc1707/AWS-Project
GITHUB_BRANCH=main
GITHUB_TOKEN=ghp_your_personal_access_token_here
