# Backend API Gateway URL
VITE_API_URL=https://<api-id>.execute-api.<region>.amazonaws.com/dev

# AWS Cognito Configuration
VITE_USER_POOL_ID=<region>_<pool_id>
VITE_CLIENT_ID=<client_id>

# AWS Region
VITE_AWS_REGION=ap-southeast-1
